body {
    box-sizing: border-box;
    height: 90vh;
}

/* page-footer */
.page-footer  {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* create post */

.create-post-cont {
    margin-top: 200px;
}

.create-post-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

/* slider */

.index-card-price {
    margin-top: 7px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 123, 35);
}

.index-card-category-cont  {
    display: flex;
}

.index-card-category {
    background-color: rgb(207, 206, 206);
    width: 100px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: black;
    font-size: 12px;
}

.card-title {
    font-weight: bold;
    text-transform: capitalize;
    color: #333
}

/* .card :hover {
    color: orange;
} */

.slider-label {
    margin-left: 6%;
    padding-top: 1%;
}

/* ads */

.advert-1 {
   width: 89%;
   height: 200px;
   display: flex;
   margin: auto;
   background: rgb(247, 230, 230);
}

.advert-2 {
    width: 89%;
    height: 200px;
    display: flex;
    margin: auto;
    background: rgb(247, 230, 230);
    margin-top: 2%;
    margin-bottom: 2%;
 }
 



.slider-container {
    /* background-color: red; */
    width: 90%;
    display: flex;
    margin: auto;
    margin-right: 4%;
}
.owl-carousel .item {
    height: 25rem;
   
}

/* navbar */

.login, .register {
    background-color: orange;
    margin-left: 10px;
    border-radius: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-link {
    font-size: 16px;
    font-weight: bold;
}

.login {
    position: absolute;
    right: 4%;
    top: 19%;
}

.register {
    position: absolute;
    right: 11%;
    top: 19%;
}

.register:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.281);
}

.login:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.281);
}




.navbar {
    height: 4.2rem;
}

.nav-logo {
    position: absolute;
    top: 11%;
    left: 7%;
    font-family: 'Fredoka One', cursive;
    font-weight: bolder;
    font-size: 22px;
    color: #333;
    background-color: orange;
    border-radius: 30px;
    padding: 7px 25px 7px 25px;
}

.nav-logo:hover {
    background-color: rgb(219, 143, 0);
}

.navbar-user-email-cont {
    width: 45px;
    height: 45px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 7%;
    top: 15%;
}

.navbar-user-email {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 24px;
    color: #fff;
    
}

.navbar-user-email:hover{
    color: #f3f3f3;
}

.navbar-drop {
    position: absolute;
    right: 5%;
    top: 15%;
}

.navbar-create {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #dadada;
    background-color: #333;
    position: absolute;
    right: 16%;
    top: 20%;
}




.navbarcreate {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 32px;

}

.navbarcreate:hover {
    color: orange;
}



.navbar-mypage  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 12%;
    top: 20%;
}

.navbar-my-link {
    color: #333;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.navbar-my-link:hover  {
    color: orange;
}



/* post show */


.ed-del-p {
    display: flex;
    justify-content: flex-end;
    background-color: #f1f1f193;
}


.edit-post {
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    margin: auto;
}

.show-post-cont {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 42%;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 800px;
}

.main-info-cont {
    /* background-color: red; */
    display: flex;
    background-color: rgb(243, 243, 243);
}

.left-cont {
    /* background-color: blue; */
    width: 22%;
    border-right: 1px solid rgb(180, 180, 180);
}

.left-cont p {
    font-weight: bold;
    color: orange;
    background-color: rgb(216, 216, 216);
    padding-left: 5px;
    border-radius: 5px;
}

.right-cont {
    width: 80%;
    /* background-color: rgb(216, 216, 216); */
}

.time-view-id {
    border-bottom: 1px solid rgb(180, 180, 180);
    height: 40%;
}

.npl {
    font-weight: bold;
}

.p-phone {
    color: #83a30d;
}


.show-p-ad {
    background-color: rgb(216, 216, 216);
    height: 100px;
}

.show-p-details {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
}

.details-row-1 {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #cecece;
}

.right-table {
    text-align: right;
}

.left-table {
    text-align: left;
}

.similar-posts-title {
    width: 88%;
    /* background: red; */
    display: flex;
    margin: auto;
    font-weight: bold;
    font-size: 32px;
    color: #333;
}

.show-post-loc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.show-post-loc-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}

#post-show-ads {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.post-show-ads-link {
    position: absolute;
    top: 75%;
    font-size: 14px;
}

.post-show-ads-link:hover {
    border-bottom: 1px solid #c0c0c0;
}


/* profile */

.profile-posts-cont {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.profile-post:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.212);
}

.profile-post {
    width: 50%;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    background-color: #dbdada;

}

.profile-post-mm {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid rgba(124, 124, 124, 0.616);
}

.profile-post-p {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(124, 124, 124, 0.616);
}

.profile-post-l {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid rgb(124, 124, 124, 0.616);
}

.profile-post-ed {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    position: absolute;
    right: 5%;
}

.profile-post-t {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.profile-title-cont {
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.profile-title {
    font-size: 36px;
}

/* search */

.search-cont {
    width: 88%;
    display: flex;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}

.searchpic {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.search-pic-cont {
    background-color: #4f535d;
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}

.search-pic-cont:hover {
    background-color: #323949;
}

.serachbar {
    text-indent: center;
    position: absolute;
    width: 802px;
    top: 27.8%;
    left: 36.2%;
}

.search-button {
    width: 100%;
    height: 35px;
    cursor: pointer;
    color: #fff;
    background-color: #ff8600;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.search-button:focus {
    outline: none;
}


.search-button:hover {
    background-color: #d37000;
}

/* filter */


.p-type {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.493);
    width: 230px;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: wheat;
}

.result-found {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 1px;
    color: #333;
    font-size: 14px;
    font-weight: bold;

}

.filter-main-cont {
    margin-top: 70px;
}


.post-main-box {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.233);
}

.box-pic-cont {
    padding: 10px;
    position: relative;
}

.top-box {
    /* background-color: yellow; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #c0c0c0;
}

.bottom-box {
    display: flex;
}

.box-main-title {
    display: flex;
    align-items: center;
    width: 380px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 16px;
    border-right: 1px solid #c0c0c0;
    text-transform: capitalize;
    /* background-color: blue; */
}

.box-custom {
    padding-top: 15px;
    padding-right: 10px;
    font-weight: bold;
}

.box-prod-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 570px;
    /* background-color: red; */
    padding-left: 10px;
    border-right: 1px solid #c0c0c0;
}

.box-price{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100px;
    color: orange;
    font-weight: bold;
    font-size: 17px;
    /* background-color: blue; */
}

.box-post-detials {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 130px;
    font-weight: bold;
    border-right: 1px solid #c0c0c0;
}

.box-description {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    width: 600px;
    justify-content: space-evenly;
    border-right: 1px solid #c0c0c0;
}

.p-descrtipion {
    /* background-color: indianred; */
    height: 70%;
    border-bottom: 1px solid #c0c0c0;
}

.box-location {
    /* background-color: indigo; */
    display: flex;
    justify-content: space-between;
    height: 20%;
    font-weight: bold;
    text-transform: capitalize;
}

.box-id {
    width: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}



/* flash messages */

.flash-info {
    display: flex;
    background: rgba(241, 99, 4, 0.76);
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    letter-spacing: 2px;
    position: absolute;
    z-index: 2;
    top: 7%;
}

.flash-success {
    display: flex;
    background: rgba(70, 190, 1, 0.363);
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    z-index: 2;
    letter-spacing: 2px;
    position: absolute;
    top: 7%;
}

.flash-fail {
    display: flex;
    background: rgba(255, 0, 0, 0.521);
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    z-index: 2;
    /* letter-spacing: 2px; */
    /* transition: 0.3ms; */
    position: absolute;
    top: 7%;
}

/* removing flash messages */
#hideMe {
    -moz-animation: hideAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: hideAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: hideAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: hideAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes hideAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes hideAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}



#TITLE:hover {
    color: orange;
}